{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body p-4">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend class="border-bottom pb-3 mb-4 text-center">Log In</legend>
                        <div class="mb-3">
                            {{ form|crispy }}
                        </div>
                    </fieldset>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-lg" type="submit">Login</button>
                    </div>
                </form>
                <div class="border-top pt-3 mt-4 text-center">
                    <small class="text-muted">
                        Need An Account? <a href="{% url 'register' %}" class="ms-2">Sign Up Now</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}