{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body p-4">
                <h2 class="border-bottom pb-3 mb-4">Profile Information</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form|crispy }}
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-lg" type="submit">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}